<!-- <div class="photo-section"> -->
    <div class="carousel-container">
        <div class="heading">
            Memories of Operate
        </div>
        <ngb-carousel [interval]="50000">
            <ng-template ngbSlide>
                <div class="slide-content">
                    <!-- <div class="photo-right"> -->
                        <img src="assets\images\Memories 1.png" alt="Photo 1"  style="width: 45%; height: auto;">
                    <!-- </div> -->
                    <div class="text-left">
                        <p class="pointer1">
                            Our first Operate meet with Associate Director Sundar in Coimbatore CEC.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="slide-content">
                    <!-- <div class="photo-right"> -->
                        <img src="assets\images\Lunch.png" alt="Photo 2"  style="width: 45%; height: auto;">
                    <!-- </div> -->
                    <div class="text-left">
                        <p class="pointer1">
                            The first team lunch in Coimbatore with Thane Folks along with our Operate lead Sundar.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="slide-content">
                    <!-- <div class="photo-right"> -->
                  <img src="assets\images\leads.png" alt="Photo 3"  style="width: 45%; height: auto">
                <!-- </div> -->
                <div class="text-left">
                  <p class="pointer1">
                    Workaholic - Fueling innovation, driven by passion, our team of workaholics never clocks out when it comes to delivering excellence.
                  </p>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="slide-content">
                    <!-- <div class="photo-right"> -->
                  <img src="assets\images\mumbai outin.jpg" alt="Photo 4"  style="width: 45%; height: auto">
                <!-- </div> -->
                <div class="text-left">
                  <p class="pointer1">
                    Embracing the vibrant spirit of Mumbai, where every outing becomes a journey of discovery, learning, and camaraderie, as we weave unforgettable memories and insights into the fabric of our team.
                  </p>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="slide-content">
                    <!-- <div class="photo-right"> -->
                  <img src="/assets/images/womens.png" alt="Photo 5"  style="width: 45%; height: auto;">
                <!-- </div> -->
                <div class="text-left">
                  <p class="pointer1">
                    Megha and Preethi, representing Operate, secured the runner-up position in the women's badminton event during the Coimbatore Sports Day.
                  </p>
                  </div>
                </div>
              </ng-template>

                      <ng-template ngbSlide>
                <div class="slide-content">
                    <!-- <div class="photo-right"> -->
                  <img src="/assets/images/carrom.png" alt="Photo 6"  style="width: 45%; height: auto;">
                  <!-- </div> -->
                  <div class="text-left">
                  <p class="pointer1">
                    Subaash and Harish, representing Operate, secured the runner-up position in the men's carrom event during the Coimbatore Sports Day.
                  </p>
                  </div>
                </div>
              </ng-template>
            <!-- Add more ngbSlide templates as needed -->
        </ngb-carousel>
    </div>
<!-- </div> -->