
<!-- <h1>hii</h1> -->

<!-- <div class="bottomhr" [ngClass]="{'dark-theme': isToggleButtonChecked}">
    <hr>
    </div>
    <div class="bottomContact" >

    
        <div  class="copyRight">©{{currentYear}} Deloitte Touche Tohmatsu India LLP
            
            <a href="mailto:[Email]" id="contact"><em aria-hidden="true" class="fa fa-envelope fa-fw" ></em>Contact us</a>
        </div>

    
    </div> -->
    



    
    <div class="footer">
        <h3 class="connect">Let's connect</h3>
        <div class="content-container">
            <div class="fcont">
                <span (click)="redirectToEmail()" class="gettouch"> <a>Get in touch</a></span><br>
                    
                    <span (click)="openTeamProfileInNewWindow()" class="click">
                        <a>Team profile</a>
                      </span><br>
                   <!-- <span (click)="redirectToMemories()" class="click"  target="_blank"> -->
                    <span  class="click"  target="_blank">

                        <a>Contact Us</a>
                    </span><br>
            <span></span>
            </div>
    
    
            <div class="smedia">
                <p class="follow"> Follow us </p>
                <div class="icons">
    
                    <a href="https://www.facebook.com/deloitte" class="social-icon" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
    
                    <a href="https://www.linkedin.com/company/deloitte" class="social-icon" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
    
                    <a href="https://twitter.com/deloitte" class="social-icon" target="_blank"><i
                            class="fab fa-twitter"></i></a>
    
                    <a href="https://www.youtube.com/user/deloittevideo/featured" class="social-icon" target="_blank"><i
                            class="fab fa-youtube"></i></a>
    
                </div>
            </div>
            </div>
    </div>