<div class="landing-page">
  <header>
    <nav>
      <!-- Navigation menu -->
    </nav>
  </header>
 
  <main>
    <!-- <div class="typewriter">
      <h1>The cat and the hat.</h1>
    </div> -->
    <div class="hero">
      <h1 class="animate__animated animate__fadeInDown delay-animation">Welcome to Estimation Portal</h1>
      <h3>Seamless process for your business needs.</h3>
    </div>

    <section class="process-flow">
      <div class="process-overview">
       

        <div class="process-step-container scroll-trigger animate__animated animate__fadeInUp delay-animation">
          
          <div class="process-step">
            <div class="process-circle1" style="background-color: #0076a8; border: 4px solid #0076a8; transform: rotateZ(315deg);">
              <div class="notch-card2" style="background-color: #0076a8;">
                <div class="title">Dashboard</div>
                <div class="des">This gives a view of Unified dashboard of your estimation across different modules.</div>
              </div>
              <div class="outline-circle" style="background-color: #0076a8; border-radius: 50%; transform: rotateZ(49deg); border-top-right-radius: 0;"></div>
              <div class="process-icon" style="transform: rotateZ(44deg); padding-left: 30px;"> 
                 <i class="fas fa-chart-line"></i>
              </div>
            </div>
          </div>

          <div class="process-step">
            <div class="process-circle2" style="background-color: #00abab; border: 4px solid #00abab; transform: rotateZ(135deg);">
              <div class="notch-card1" style="background-color: #00abab;">
                <div class="title">Basic Information</div>
                <div class="des">Capture client details in the General Information section.</div>
              </div>
              <div class="outline-circle" style="background-color: #00abab; border-radius: 50%; transform: rotateZ(49deg); border-top-right-radius: 0;"></div>
              <div class="process-icon" style="transform: rotateZ(224deg); padding-left: 34px;"> 
                 <i class="fa fa-info-circle"></i>
              </div>
            </div>
          </div>
          
          <div class="process-step">
            <div class="process-circle3" style="background-color: #26890d; border: 4px solid #26890d; transform: rotateZ(315deg);">
              <div class="notch-card4" style="background-color: #26890d;">
                <div class="title">ABAP</div>
                <div class="des">Capture prerequisites for ABAP Estimation before efforts.</div>
              </div>
              <div class="outline-circle" style="background-color: #26890d; border-radius: 50%; transform: rotateZ(49deg); border-top-right-radius: 0;"></div>
              <div class="process-icon" style="transform: rotateZ(44deg); padding-left: 30px;"> 
                 <i class="fas fa-cogs"></i>
              </div>
            </div>
          </div>
       
          <div class="process-step">
            <div class="process-circle4" style="background-color: rgb(13, 131, 144); border: 4px solid rgb(13, 131, 144); transform: rotateZ(135deg);">
              <div class="notch-card1" style="background-color: rgb(13, 131, 144);">
                <div class="title">Efforts</div>
                <div class="des">Create estimation, view total efforts, and breakup.</div>
              </div>
              <div class="outline-circle" style="background-color: rgb(13, 131, 144); border-radius: 50%; transform: rotateZ(49deg); border-top-right-radius: 0;"></div>
              <div class="process-icon" style="transform: rotateZ(224deg); padding-left: 34px;"> 
                 <i class="fas fa-stopwatch"></i>
              </div>
            </div>
          </div>
        
          <div class="process-step">
            <div class="process-circle5" style="background-color: #ed8b00; border: 4px solid #ed8b00; transform: rotateZ(315deg);">
              <div class="notch-card6" style="background-color: #ed8b00;">
                <div class="title">Estimation</div>
                <div class="des">Offer effort estimation best practices and breakdown for clients based on types.</div>
              </div>
              <div class="outline-circle" style="background-color: #ed8b00; border-radius: 50%; transform: rotateZ(49deg); border-top-right-radius: 0;"></div>
              <div class="process-icon" style="transform: rotateZ(44deg); padding-left: 30px;"> 
                 <i class="fas fa-tasks"></i>
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </section>
  </main>
</div>