<link href="resources/images/Deloitte-Symbol.webp" rel="icon">
<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          referrerpolicy="no-referrer" rel="stylesheet"/>  
          
<app-header ></app-header>

<div [ngClass]="{'dark-theme': isToggleButtonChecked}">

   

    <!-- <app-estimation-portal></app-estimation-portal> -->
<router-outlet></router-outlet>
<!-- <app-all-team></app-all-team> -->
<!-- <app-myquote></app-myquote> -->
<!-- <app-mycart></app-mycart> -->
<!-- <app-login></app-login> -->
<!-- <app-bang-team></app-bang-team>  -->
<!-- <app-mum-team></app-mum-team> -->
<!-- <app-cbe-team></app-cbe-team> -->
<!-- <app-ahm-team></app-ahm-team> -->
<!-- <app-our-leaders></app-our-leaders> -->
<!-- <app-loc-team></app-loc-team>   -->
<!-- <app-memories></app-memories> -->
<!-- <app-footer></app-footer> -->
</div>
<!-- <app-footer></app-footer> -->


