<!-- 
<title>About</title>
<section>
    <div class="title-info">
        About Us
    </div>
    <div class="leaders">
        <div class="leaders">
            <div class="leader">
                <div class="assetDetails">Deloitte India has more than 25,000 professionals operating out of 13 cities – Ahmedabad, Bengaluru, Bhubaneswar, Chennai, Coimbatore, Goa, Gurugram, Hyderabad, Jamshedpur, Kochi, Kolkata, Mumbai, and Pune.</div>
              //  <div class="assetDetails">We are committed to becoming the undisputed leader in professional services in the areas of Audit & Assurance, Risk Advisory, Tax, Consulting, and Financial Advisory services. We serve public and private clients spanning multiple industries.</div>
              //  <div class="assetDetails">We take pride in our ability to serve our clients distinctively by solving complex challenges, inspire our talent to deliver outstanding values, and support our communities and society we live in. Our multi-disciplinary model ensures we serve our clients across businesses and deliver the right combination of local insight and international expertise.</div>
                <div class="assetDetails">We Operate from a center of excellence, specializing in solutions centered around assets and innovation. Our primary focus is to unlock our full potential to deliver optimal outcomes for our clients. We are dedicated to seamlessly merging business strategies with cutting-edge technology to produce solutions that surpass excellence. Our goal is to consistently provide value that exceeds expectations and drives success for our clients.</div>
                <div class="assetDetails">At Operate, SAP stands at the core of our operations. Through innovative and automated solutions, we've successfully delivered impactful results across various industries, significantly expanding our market share over the past two years.</div>
                <div class="assetFoot">© 2024 Deloitte Touche Tohmatsu India LLP. See Terms of Use for more information. Deloitte Touche Tohmatsu India Private Limited (U74140MH199 5PTC093339) a private company limited by shares was converted into Deloitte Touche Tohmatsu India LLP, a limited liability partnership (LLP Identification No. AAE-8458) with effect from October 1, 2015. Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients.</div>
                <div class="Details">
                    <label class="Email">
                        Contact us : <a href="mailto:inconetpsapopt@deloitte.com">inconetpsapopt&#64;deloitte.com</a>
                    </label>
                    <br>    
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer> -->

<!-- <section style="background-image: url('../assets/images/contact us.png'); background-position: center; background-size: cover; margin: 0; padding-top: 80px; padding-bottom: 20px; position: relative;">
    <div class="title-info">
        <h2 style="color: #000000">About Us</h2>
    </div>
   
    <div class="leaders">
        <div class="leaders">
            <div class="leader">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Deloitte India has more than 25,000 professionals operating out of 13 cities – Ahmedabad, Bengaluru, Bhubaneswar, Chennai, Coimbatore, Goa, Gurugram, Hyderabad, Jamshedpur, Kochi, Kolkata, Mumbai, and Pune.</p>
                        <br>
                
                        <p class="card-text">We Operate from a center of excellence, specializing in solutions centered around assets and innovation. Our primary focus is to unlock our full potential to deliver optimal outcomes for our clients. We are dedicated to seamlessly merging business strategies with cutting-edge technology to produce solutions that surpass excellence. Our goal is to consistently provide value that exceeds expectations and drives success for our clients.</p>
                         <br>
                
                        <p class="card-text">At Operate, SAP stands at the core of our operations. Through innovative and automated solutions, we've successfully delivered impactful results across various industries, significantly expanding our market share over the past two years.</p>
                        <br>
                        <p class="card-text">© 2024 Deloitte Touche Tohmatsu India LLP. See Terms of Use for more information. Deloitte Touche Tohmatsu India Private Limited (U74140MH199 5PTC093339) a private company limited by shares was converted into Deloitte Touche Tohmatsu India LLP, a limited liability partnership (LLP Identification No. AAE-8458) with effect from October 1, 2015. Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="contact-info highlight" >
        <label class="Email">
            Contact us: <a href="mailto:inconetpsapopt@deloitte.com">inconetpsapopt&#64;deloitte.com</a>
        </label>
    </div>
</section>
<app-footer></app-footer> -->




<title>About</title>
<div class="loader-container" *ngIf="loading">
  <div>
    <span class="letter">D</span>
    <span class="dot"></span>
  </div>
</div>

<div class="content" *ngIf="!loading">
<section>
    
        
    <div class="title-info">
        About Us
    </div>
  
    <!-- <div class="leaders"> -->
        <!-- <div class="leaders"> -->
            <div class="leader">
       
                  


                <div class="assetDetails">Deloitte India has more than 25,000 professionals operating out of 13 cities – Ahmedabad, Bengaluru, Bhubaneswar, Chennai, Coimbatore, Goa, Gurugram, Hyderabad, Jamshedpur, Kochi, Kolkata, Mumbai, and Pune.</div><br>
                <!-- <div class="assetDetails">We are committed to becoming the undisputed leader in professional services in the areas of Audit & Assurance, Risk Advisory, Tax, Consulting, and Financial Advisory services. We serve public and private clients spanning multiple industries.</div> -->
                <!-- <div class="assetDetails">We take pride in our ability to serve our clients distinctively by solving complex challenges, inspire our talent to deliver outstanding values, and support our communities and society we live in. Our multi-disciplinary model ensures we serve our clients across businesses and deliver the right combination of local insight and international expertise.</div> -->
                <div class="assetDetails">We Operate from a center of excellence, specializing in solutions centered around assets and innovation. Our primary focus is to unlock our full potential to deliver optimal outcomes for our clients. We are dedicated to seamlessly merging business strategies with cutting-edge technology to produce solutions that surpass excellence. Our goal is to consistently provide value that exceeds expectations and drives success for our clients.</div>
                <div class="assetDetails">At Operate, SAP stands at the core of our operations. Through innovative and automated solutions, we've successfully delivered impactful results across various industries, significantly expanding our market share over the past two years.<br><br>© 2024 Deloitte Touche Tohmatsu India LLP. See Terms of Use for more information. Deloitte Touche Tohmatsu India Private Limited (U74140MH199 5PTC093339) a private company limited by shares was converted into Deloitte Touche Tohmatsu India LLP, a limited liability partnership (LLP Identification No. AAE-8458) with effect from October 1, 2015. Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients.</div>
                <!-- <div class="assetFoot">© 2024 Deloitte Touche Tohmatsu India LLP. See Terms of Use for more information. Deloitte Touche Tohmatsu India Private Limited (U74140MH199 5PTC093339) a private company limited by shares was converted into Deloitte Touche Tohmatsu India LLP, a limited liability partnership (LLP Identification No. AAE-8458) with effect from October 1, 2015. Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as “Deloitte Global”) does not provide services to clients.</div> -->
                <br>
                <div class="Details">
                    <label class="Email">
                        Contact us : <a href="mailto:inconetpsapopt@deloitte.com">inconetpsapopt&#64;deloitte.com</a>
                    </label>
                 
                </div>
               

                
        
                  
            <!-- </div> -->
        <!-- </div> -->
    </div>
   
</section>

<!-- <div class="aboutusbg">
    <img src="/assets/images/Aboutus.png">
</div> -->
<app-footer></app-footer>
</div>