

<!-- <div class="container" >
  
  <div class="video-section">
  <ngb-carousel [interval]="50000" >
  <ng-template ngbSlide>
  <video class="video" width="600" height="180" controls>
  <source src="assets\videos\OS_Intro_FemaleVoice.mp4" type="video/mp4">
            Your browser does not support the video tag.
  </video>
  <p class="pointer1">
  Are you getting wary of the constant disruptive market environment? Are 
  your resources able to navigate an increasing complex IT environment to 
  grasp the opportunities it presents? Or is your business burdened with the 
  pressure of integrating capital intensive technology into its framework, which 
  doesn’t deliver the business outcomes you’re looking for?
  </p>
  </ng-template>
  <ng-template ngbSlide>
  <video class="video" width="600" height="260" controls>
  <source  src="\assets\videos\OperateSync_CR_Process.mp4"type="video/mp4">
          Your browser does not support the video tag.
  </video>
  <p class="pointer1">
    OperateSync<sup>TM</sup> is a framework that is designed with advanced service engineering concepts, which use cohesive 
    toolsets for ITSM, release planning, DevOps, CI/CD/CT/ and CM
  </p>
  </ng-template>
  </ngb-carousel>
  </div>
  <div>
   
   
    <div class="text-section">
      
      <div class="dashboard">
      <a style="padding-left: 5%; padding-top: 5%; margin-bottom: 1%; ">Dashboard</a>
      <ngb-carousel [interval]="50000">
        <ng-template ngbSlide>
            <div class="carousel-content">
            <div class="box">
              <div class="card1">
                  <canvas #chartCanvas width="200" height="100"></canvas>
              </div>
              </div>
          </div> 
        </ng-template>
        <ng-template ngbSlide>
          <div class="carousel-content">
            <div class="box">
              <div class="card1">

                <canvas #chartCanvas2 width="500" height="100"></canvas>
            </div>
              
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <h6 style="padding-left: 38%;">Key Highlights</h6>
          <div class="carousel-content">
            <div class="box1">
              <div class="tile-container">
                <div class="tile1">
                  <h4>12 (5)</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6 >
                </div>
                <div class="tile2">
                  <h4>4</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
                <div class="tile1">
                  <h4>50+</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
                <div class="tile2">
                  <h4>40</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
                <div class="tile2">
                  <h4>6</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
                <div class="tile1">
                  <h4>20+</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
                <div class="tile2">
                  <h4>1</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
                <div class="tile1">
                  <h4>6000+</h4>
                  <h6 style="font-size: xx-small;">Operate Details</h6>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  
    </div>
   
    <div class="caruosel3">
      
      <ngb-carousel [interval]="50000">
        <ng-template ngbSlide>
    <div class="caruosel">
      <p class="contact-us"><i class="fas fa-address-book" style="font-size: x-large; color:#26890D"></i>Testimonials</p>
      <hr>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="text-center">
            <img src="\assets\images\GaneshPrabhu.png" alt="Slide 1" style="height: 100px; width: 70px;">
            <a>  Name : GaneshPrabhu</a>
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="text-center">
            <img src="\assets\images\RajeshBaliga.png" alt="Slide 2"style="height: 100px; width: 70px;">
            <a> Name : RajeshBaliga</a>
          
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="text-center">
            <img src="\assets\images\VeerendraG.png" alt="Slide 3"style="height: 100px; width: 70px;">
            <a> Name : Veerendra</a>
       
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </ng-template>
  <ng-template ngbSlide>
  <div class="caruosel1">
    <p class="Birthday"><i class="fas fa-birthday-cake" style="font-size: x-large; color:#26890D"></i> Wish Your Collegues Birthday</p>
    <hr>
    <ngb-carousel>
    <ng-template ngbSlide>
    <div style="padding-left: 50px;">
        Aniket: 29-09-2001<br>
        Vishal: 20-03-2002<br>
        Aryamaan: 07-12-2001
     
      </div>
    </ng-template>
    <ng-template ngbSlide>
    <div style="padding-left: 50px;">
        Manimithra: 09-08-2001<br>
        Sarran: 04-03-2001 <br>
        Subaash: 10-07-2001
    </div>
    </ng-template>
    </ngb-carousel>
    </div>
   </ng-template>
   </ngb-carousel>

   </div>
   
  </div> -->


  <!-- <div class="loader-container" *ngIf="loading">
    <div>
      <span class="letter">D</span>
      <span class="dot"></span>
    </div>
  </div>
  
  <div class="content" *ngIf="!loading"> -->


  <!-- new -->
  <title>OperateCOvE</title>
<!-- <div class="loader-container" *ngIf="loading">
  <div>
    <span class="letter">D</span>
    <span class="dot"></span>
  </div>
</div>

<div class="content" *ngIf="!loading"> -->
  <div class="faq-container">
    <!-- <div class="intro">
        <div class="text">
            <label class="cove">Operate COvE</label> 
            
            <label class="info"> Sail Smoothly with Operate COvE  Where Efficiency Meets Excellence !</label>
            
            <button class="btn btn-outline-green custom-button" (click)="scrollToContactSection()">Explore with us</button>
    
            <br><br>
            <button class="scroll-button" (click)="scrollToAboutSection()"><span class="arroe"><i class="fa-solid fa-chevron-down"></i></span></button>
        </div>
    
        <img class="img" src="\assets\images\OperateCOvEpng.png">
    </div> -->

<!-- 
  
    <div class="carousel" (mouseenter)="stopAutoPlay()" (mouseleave)="startAutoPlay()">
      <div class="slides" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
        <div class="slide" *ngFor="let slide of slides">
          <img [src]="slide.image" alt="Slide {{slide.text}}">
          <div class="slide-text">{{slide.text}}</div>
        </div>
      </div>
      <button class="prev" (click)="prevSlide()"><</button>
      <button class="next" (click)="nextSlide()">></button>
    </div>  
     -->
  
  
  
    
    
    
    

     <div class="mainIntro">
      <ngb-carousel [interval]="5000" style="z-index: 0; position: relative;" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
          <div class="intro">
            <div class="text">
                <label class="cove">OperateSync<sup>TM</sup></label> 
                
                <label class="info">Transform IT management with OperateSync<sup>TM</sup>.</label>
                
                <button class="btn btn-outline-green custom-button" (click)="operateSync()" >To know more...</button>
        
                <br><br>
                <button class="scroll-button" (click)="scrollToAboutSection()"><span class="arroe"><i class="fa-solid fa-chevron-down"></i></span></button>
            </div>
        
            <img class="img" src="\assets\images\abstract.png">
        </div>
    
        </ng-template>
        
        
        <ng-template ngbSlide>
          <div class="intro">
            <div class="text">
                <label class="cove">Operate COvE</label> 
                
                <label class="info">Sail Smoothly with Operate COvE  Where Efficiency Meets Excellence !</label>
                
                <button class="btn btn-outline-green custom-button" (click)="scrollToContactSection()">Explore with us</button>
        
                <br><br>
                <button class="scroll-button" (click)="scrollToAboutSection()"><span class="arroe"><i class="fa-solid fa-chevron-down"></i></span></button>
            </div>
        
            <img class="img" src="\assets\images\OperateCOvEpng.png">
        </div>
    
        </ng-template>
  
      
      </ngb-carousel>
      </div>











    
    <!-- <div class="About" #aboutSection id="aboutSection">
        <p> Deloitte's Assets and Innovation team plays a pivotal role in our mission. This team harnesses the power of emerging technologies and proprietary assets to enhance our capabilities further. By leveraging advanced analytics and other innovative tools, we empower our clients to unlock new opportunities and navigate complex challenges with confidence. With the Assets and Innovation team by our side, Deloitte continues to set the standard for delivering unparalleled solutions that drive real business impact in today's dynamic landscape of digital transformation.</p>
    </div> -->
    


    <div class="parallax-container" id="aboutSection" (window:scroll)="onWindowScroll1()">
      <!-- <div class="bg-image" [style.backgroundPositionX]="bgPositionX"></div> -->
      <!-- <img class="bg-image" src="/assets/images/Assets.jpg"> -->
      <div class="divide">
      <!-- <div class="parallax-content" > -->
        <div class="dividedpara">
        <p class="para"> Deloitte's Assets and Innovation team plays a pivotal role in our mission. This team harnesses the power of emerging technologies and proprietary assets to enhance our capabilities further. By leveraging advanced analytics and other innovative tools, we empower our clients to unlock new opportunities and navigate complex challenges with confidence. With the Assets and Innovation team by our side, Deloitte continues to set the standard for delivering unparalleled solutions that drive real business impact in today's dynamic landscape of digital transformation.</p>
        
      </div>
      <div class="dividedimg">
        <img  class="sizeimg" src="/assets/images/dividedimg.jpg">

      </div>
      </div>
    </div>

<!-- 
   <div class="videoo" #videosection id="videosection">
  <div class="background-image"></div>
  

  <h2  class="intro">Introducing OperateSync</h2>

  <div class="video-section">
    <ngb-carousel [interval]="50000" style="z-index: 0; position: relative;">
      <ng-template ngbSlide>
        <div class="background-image"></div>
        <video class="video" width="600" height="180" controls>
          <source src="/assets/videos/OS_Intro_FemaleVoice.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </ng-template>

      <ng-template ngbSlide>
        <div class="background-image1"></div>
        <video class="video" width="600" height="260" controls>
          <source src="/assets/videos/OperateSync_CR_Process.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </ng-template>
    </ngb-carousel>
  </div>
</div> -->

    
    <div class="dashboard" #dashboardsection id="dashboardsection">
        <h2 class="touch">Dashboard</h2>
        <ngb-carousel [interval]="50000" class="carousel">
          <ng-template ngbSlide>
            <h5 class="resource">Resource Management</h5>
            <div class="carousel-content">
              <div class="box">
                <div class="card">
                    <canvas #chartCanvas width="200" height="100"></canvas>
                </div>
                <div class="card">
                    <canvas #chartCanvas2 width="200" height="100"></canvas>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <h5 class="key">
                Key Highlights
                <select class="select" [(ngModel)]="selectedOperate">
                    <option class="option"  value="Operate1">Operate 1</option>
                    <option class="option"  value="Operate2">Operate 2</option>
                    <option class="option"  value="Operate3">Operate 3</option>
                    <option class="option"  value="Operate4">Operate 4</option>
                  </select>
                  
              </h5>
            <div class="carousel-content">
              <div class="box1">
                <div class="tile-container" *ngIf="selectedOperate === 'Operate1'">
                  <div class="tile1"  matTooltip="Dedicated Resources - 16 Managed Resources - 15" matTooltipClass="multiline-tooltip">
                    <h1>31</h1>
                    <h6>Resources</h6>
                  </div>
                  <div class="tile2" >
                    <h1>559</h1>
                    <h6>Tickets Closed</h6>
                  </div>
                  <div class="tile1">
                    <h1>66</h1>
                    <h6>Tickets Open</h6>
                  </div>
                  <div class="tile2">
                    <h1>9</h1>
                    <h6>Less than 15 days</h6>
                  </div>
                  <div class="tile2">
                    <h1>7</h1>
                    <h6>More than 15 days</h6>
                  </div>
                  <div class="tile1">
                    <h1>47</h1>
                    <h6>More than 30 days</h6>
                  </div>
                  <div class="tile2">
                    <h1>🟩</h1>
                    <h6>Project Status</h6>
                  </div>
                  <div class="tile1">
                    <h1>4</h1>
                    <h6>Client Appreciation</h6>
                  </div>
                </div>
                <div class="tile-container" *ngIf="selectedOperate === 'Operate2'">
                    <div class="tile1" >
                      <h1>21</h1>
                      <h6>Resources</h6>
                    </div>
                    <div class="tile2" >
                      <h1>205</h1>
                      <h6>Tickets Closed</h6>
                    </div>
                    <div class="tile1">
                      <h1>40</h1>
                      <h6>Tickets Open</h6>
                    </div>
                    <div class="tile2">
                      <h1>17</h1>
                      <h6>Less than 15 days</h6>
                    </div>
                    <div class="tile2">
                      <h1>11</h1>
                      <h6>More than 15 days</h6>
                    </div>
                    <div class="tile1">
                      <h1>12</h1>
                      <h6>More than 30 days</h6>
                    </div>
                    <div class="tile2">
                      <h1>🟩</h1>
                      <h6>Project Status</h6>
                    </div>
                    <div class="tile1">
                      <h1>7</h1>
                      <h6>Client Appreciation</h6>
                    </div>
                  </div>
                  <div class="tile-container" *ngIf="selectedOperate === 'Operate3'">
                    <div class="tile1" >
                      <h1>31</h1>
                      <h6>Resources</h6>
                    </div>
                    <div class="tile2" >
                      <h1>223</h1>
                      <h6>Tickets Closed</h6>
                    </div>
                    <div class="tile1">
                      <h1>58</h1>
                      <h6>Tickets Open</h6>
                    </div>
                    <div class="tile2">
                      <h1>8</h1>
                      <h6>Less than 15 days</h6>
                    </div>
                    <div class="tile2">
                      <h1>4</h1>
                      <h6>More than 15 days</h6>
                    </div>
                    <div class="tile1">
                      <h1>46</h1>
                      <h6>More than 30 days</h6>
                    </div>
                    <div class="tile2">
                      <h1>🟧</h1>
                      <h6>Project Status</h6>
                    </div>
                    <div class="tile1">
                      <h1>4</h1>
                      <h6>Client Appreciation</h6>
                    </div>
                  </div>
                  <div class="tile-container" *ngIf="selectedOperate === 'Operate4'">
                      <div class="tile1" >
                        <h1>31</h1>
                        <h6>Resources</h6>
                      </div>
                      <div class="tile2" >
                        <h1>58</h1>
                        <h6>Tickets Closed</h6>
                      </div>
                      <div class="tile1">
                        <h1>36</h1>
                        <h6>Tickets Open</h6>
                      </div>
                      <div class="tile2">
                        <h1>1</h1>
                        <h6>Less than 15 days</h6>
                      </div>
                      <div class="tile2">
                        <h1>0</h1>
                        <h6>More than 15 days</h6>
                      </div>
                      <div class="tile1">
                        <h1>35</h1>
                        <h6>More than 30 days</h6>
                      </div>
                      <div class="tile2">
                        <h1>🟩</h1>
                        <h6>Project Status</h6>
                      </div>
                      <div class="tile1">
                        <h1>4</h1>
                        <h6>Client Appreciation</h6>
                      </div>
                    </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
     
    <div  class="getintouch" id="contactSection">
        <h2  class="touch">Get in touch</h2>
        <div class="Contactus" >
            <div class="image-container">
              <a href='https://www2.deloitte.com/in/en/profiles/rajesh-baliga.html' target="_blank">
                <img class="image" src="\assets\images\RajeshBaliga.png">
            </a>
            <br>
            <div class="memDetails">
              <a class="name" >Rajesh Baliga</a>
              <a class="position">DTTL Operate Leader</a>
              <a href="mailto:rajeshbaliga@deloitte.com" class="mail">rajeshbaliga&#64;deloitte.com</a>  
            </div>
             </div>
            <div class="image-container">
              <a href="https://people.deloitte/profile/gprabhu"  target="_blank">
                <img class="image" src="\assets\images\GaneshPrabhu.png"></a>
                <br>
                <div class="memDetails">
                <a class="name">Ganesh Prabhu</a>
                <a class="position">DTTL Operate Tech stack Leader</a>
                <a  href="mailto:gprabhu@deloitte.com"  class="mail">gprabhu&#64;deloitte.com</a>
                </div>
            </div>
            <div class="image-container">
              <a href="https://people.deloitte/profile/vgadigi"  target="_blank">
                <img class="image" src="\assets\images\VeerendraG.png"></a>
                <br>
                <div class="memDetails">
                <a class="name" >Veerendra Gadigi</a>
                <a class="position">DTTL Operate Delivery Leader</a>
                <a href="mailto:vgadigi@deloitte.com" class="mail">vgadigi&#64;deloitte.com</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="Memories" #Memoeriessection id="Memoeriessection">
      <h2 class="touch">Memories of Operate</h2>  
        <div class="carousel-container">
            <ngb-carousel [interval]="50000">
                <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                            <img src="assets\images\Memories 1.png" alt="Photo 1"  style="width: 45%; height: auto;">
                        <!-- </div> -->
                        <div class="text-left">
                            <p class="pointer1">
                                The Operate team in Coimbatore with Sundar
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                            <img class="img" src="assets\images\Lunch.png" alt="Photo 2"  style="width: 45%; height: 400px;">
                        <!-- </div> -->
                        <div class="text-left">
                            <p class="pointer1">
                                The first team lunch in Coimbatore with Thane Folks along with our Operate lead Sundar
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                      <img src="assets\images\leads.png" alt="Photo 3"  style="width: 45%; height: auto;">
                    <!-- </div> -->
                    <div class="text-left">
                      <p class="pointer1">
                        Preparation for Client visit 
                      </p>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                      <img src="assets\images\mumbai outin.jpg" alt="Photo 4"  style="width: 45%; height: auto;">
                    <!-- </div> -->
                    <div class="text-left">
                      <p class="pointer1">
                       Outing with Mumbai Folks
                      </p>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                      <img src="assets\images\womens.png" alt="Photo 5"  style="width: 40%; height: auto;">
                    <!-- </div> -->
                    <div class="text-left">
                      <p class="pointer1">
                        Megha and Preethi, representing Operate, secured the runner-up position in the women's badminton event during the Coimbatore Sports Day.
                      </p>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                      <img src="assets\images\shruthi.jpg" alt="Photo 6"  style="width: 50%; height: auto;">
                    <!-- </div> -->
                    <div class="text-left">
                      <p class="pointer1">
                      Shruthi from Operate won the semi-finals in the Green Dot Stars
                      </p>
                    </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="slide-content">
                        <!-- <div class="photo-right"> -->
                      <img src="assets\images\carrom.png" alt="Photo 7"  style="width: 45%; height: auto;">
                      <!-- </div> -->
                      <div class="text-left">
                      <p class="pointer1">
                        Subaash and Harish, representing Operate, secured the runner-up position in the men's carrom event during the Coimbatore Sports Day.
                      </p>
                      </div>
                    </div>
                  </ng-template>
                <!-- Add more ngbSlide templates as needed -->
            </ngb-carousel>
        </div>
    </div>
    
    
    <!-- <div class="footer">
        <h3 class="connect">Let's connect</h3>
        <div class="content-container">
            <div class="fcont">
                <span (click)="redirectToEmail()" class="gettouch"><a>Get in touch</a></span><br>
                    
                    <span (click)="openTeamProfileInNewWindow()" class="click">
                        <a>Team profile</a>
                      </span><br>
                <span (click)="redirectToMemories()" class="click"
                    target="_blank"><a>Memories</a>
                </span><br>
            <span></span>
            </div>
    
    
            <div class="smedia">
                <p class="follow"> Follow us </p>
                <div class="icons">
    
                    <a href="https://www.facebook.com/deloitte" class="social-icon" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
    
                    <a href="https://www.linkedin.com/company/deloitte" class="social-icon" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
    
                    <a href="https://twitter.com/deloitte" class="social-icon" target="_blank"><i
                            class="fab fa-twitter"></i></a>
    
                    <a href="https://www.youtube.com/user/deloittevideo/featured" class="social-icon" target="_blank"><i
                            class="fab fa-youtube"></i></a>
    
                </div> 
                
            </div>
            </div>
            
    </div>-->
    </div>
    <app-footer></app-footer>
    <!-- </div> -->
    <!-- </div> -->